*{
    margin: 0;
    background-color: rgb(194, 194, 170);
}

h1{
    text-align: center;
    padding-top: 10px;
    height: 60px;
    background-color: rgb(41, 42, 37);
    color: rgb(186, 190, 193);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

div{
    margin-top: 50px;
    margin-left: 560px;
    font-size: 20px;
}

input[type=file] {
    width: 200px;    
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    border: 1px;
}

button{
    margin-left: 120px;
    margin-top: 30px;
    background-color: darkslategray;
    color: antiquewhite;
    height: 35px;
    width: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    text-align: center;
    margin-top: 80px;
}